body {
    padding: 0;
    margin: 0;
    height: 100vh;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}
a{
    text-decoration: none;
    color: #efe7eb;
}
li {
    list-style: none;
    display: inline;
}

.heading {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.right-side-links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.middle-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.sample-text {
    display: flex;

}

.sign-up-button {
    padding: 4px;
    width: 100px;
    border-radius: 10px 10px;
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
}
.quote-container {
    background-color: #e5e7eb;
    padding: 16px;
    text-align: center;
    margin-bottom: 60px;
}
.quote-text-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 60px;
    padding: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.sign-up-cta {
    padding: 4px;
    width: 100px;
    background: transparent;
    border-radius: 10px 10px;
    color: #f9faf8;
    font-weight: bold;
}
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}
    







/* Fonts & Colors
Dark background (header and footer) #1f2937
Awesome Website Txt 48PX Extra Bold #f9faf8
Header link txt 18px #efe7eb (greyish white)
Header logo txt 24px #f9faf8
Blue button/cta background #3882f6
information header txt 36px extra bold #1f2937
Quote section color #e5e7eb
quote txt 6-px light italic #1f2937 */